section.about {
  @include relative;

  padding-top: 3%;
}


@media (max-width: 1399.98px){
  section.about {
    padding-top: 4%;
  }
}
@media (max-width: 1199.98px){
  section.about {
    padding-top: 6%;
  }
}

@media (max-width: 991.98px){
  section.about {
    padding-top: 8%;
  }
}

@media (max-width: 767.98px) {
  section.about {
    padding-top: 10%;
  }
}

@media (max-width: 575.98px){
  section.about {
    padding-top: 12%;
  }
}
.about-content {
  @include relative;
}

.about-content::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  height: 1px;
  width: 65%;
  background-color: $Shiraz;
  opacity: 0.6;
}

@media screen and (max-width: 425px){
  .about-title h2 {
    padding: 0 0 1%;
    line-height: calc(18px + 1.135417vh);
  }

}

.about-title h2 {
  font-family: segoescript, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(11px + 28 * (100vw / 1920));
  line-height: calc(18px + 4.135417vh);
  text-transform: uppercase;
  color: $Saffron;
  text-align: center;
  padding: 2% 0 4%;
}

img.about-title-fon {
  @include relative;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 45%;
  left: 25%;
}

.about-information {
  @include relative;

  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .about-information {
    display: flex;
    flex-direction: column-reverse;

  }
}

@media screen and (max-width: 425px) {
  .about-information {
    display: flex;
    flex-direction: column-reverse;

  }
}

.about-descr {
  @include relative;

  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .about-descr {
    width: 100%;
  }
}

.about-descr-title h3 {
  @include relative;

  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + 14 * (100vw / 1920));
  line-height: calc(18px + 1.635417vh);
  letter-spacing: 0.01em;
  color: $Marigold-Yellowt;
}

.about-descr::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 91px;
  height: 45px;

  @extend %svg-common;

  background-position: 44.58715596330275% 43.177570093457945%;
}

@media screen and (max-width: 768px) {
  .about-descr::after {
    top: -5%;
    left: -5%;
  }
}

.about-descr-paragraf {
  @include relative;
}

.about-descr-paragraf p {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: calc(12px + 10 * (100vw / 1920));
  line-height: calc(18px + 1.635417vh);
  letter-spacing: 0.01em;
  color: $Mercury;
  padding: 1%;
}

.about-images {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .about-images {
    padding-bottom: 10%;
    margin: 0 auto;
  }
}

.about-images img {
  width: 100%;
  max-width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .about-images img {
    max-width: 500px;
  }
}
