section.carousel {
  @include relative;

  padding-bottom: 4%;
}

img.bestsellers-title-fon {
  @include relative;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 45%;
    left: 25%;
}

.bestsellers-title h2 {
  font-family: segoescript, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(11px + 28 * (100vw / 1920));
  line-height: calc(18px + 4.135417vh);
  text-transform: uppercase;
  color: $Saffron;
  text-align: center;
  padding-bottom: 6%;
}

.bestsellers-content {
  @include relative;

  padding: 2% 0 3%;
  background-color: $Cod-Gray
}

.bestsellers.slick-initialized.slick-slider{
@include relative;

    display: flex;
    align-items: center;
  
}

.slick-prev.bestsellers-prev.slick-arrow {
  max-width: 40px;
  width: 100%;
  height: 40px;

  @extend %svg-common;

  background-position: 6.7114093959731544% 7.407407407407407%;
  border: none;
}

.slick-prev.bestsellers-prev.slick-arrow.slick-disabled{
  opacity: 0;
}

.slick-next.bestsellers-next.slick-arrow {
  max-width: 40px;
  width: 100%;
  height: 40px;

  @extend %svg-common;

  background-position: 0 0;
  border: none;
}

.slick-next.bestsellers-next.slick-arrow.slick-disabled{
 opacity: 0;
}

.card.slick-slide.slick-active{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 340px;
}

.card {
  padding: 0 12px;
  background: transparent;
}

h5.card-title {
  font-family: segoescript, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + 10 * (100vw / 1920));
  line-height: calc(16px + 1.635417vh);
  letter-spacing: 0.01em;
  color: $Saffron;
}

.card-body {
  @include relative;

margin: 1% 0 10%;

}

p.card-text {
  font-family: OpenSans, sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: calc(12px + 10 * (100vw / 1920));
  line-height: calc(12px + 1.635417vh);
  letter-spacing: 0.01em;
  color: $Mercury;
 min-height: 130px;

 
}

a.btn.btn-danger {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 120px;
  height: 40px;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: 400;
font-size: calc(10px + 6 * (100vw / 1920));
  line-height: calc(11px + 1.135417vh);
  color: $Mercury;
  border-radius: 17px;
}

span.span-danger {
  position: absolute;
  bottom: 0;
  left: 16%;
  font-family: segoescript, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + 10 * (100vw / 1920));
  line-height: calc(16px + 1.635417vh);
  color: $Saffron;
}
