section.header {
  @include relative;

  height: 400px;
  padding-bottom: 60px;

  h1 {
    text-align: center;
    width: 100%;
    font-family: segoescript,sans-serif;
    color: $title;
    font-size: calc(19px + 18 * (100vw / 1920));
    line-height: calc(11px + 4.135417vh);
    word-spacing: calc(0.1px + 0.015625vw);
  }
}

.container-content {
  display: flex;
  min-height: 84px;
}

.but-body {
  width: 100%;
  margin: 0 25px;
}

.btn-primary {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding-left: 83px;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 73px;
      height: 64px;

    @extend %svg-common;

    background-position: 14.209591474245116% 15.503875968992247%;
  }
}

.btn-dark {
  @include relative;

  padding-left: 77px;
  z-index: z("dark");

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 91px;
      height: 45px;

    @extend %svg-common;

  background-position: 44.58715596330275% 43.177570093457945%;
    z-index: z("home");
  }
}
