section.header {
  @include relative;

}

a.navbar-brand {
  @include relative;

  width: 91px;
  height: 96px;
}

.logo {
  width: 91px;
  height: 96px;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0.navbar-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (width<=992px) {
  ul.navbar-nav.me-auto.mb-2.mb-lg-0.navbar-content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
}

li.nav-item {
  width: 100%;
  display: flex;
  align-items: center;
  place-content: center center;
}

@media screen and (width<=992px) {
  li.nav-item {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px $Shiraz;
    border-radius: 17px;
    margin: 3px;
  }
}

#navbarText>ul>li>a {
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + 6 * (100vw / 1920));
  line-height: calc(11px + 2.135417vh);
  color: $Mercury;
  white-space: nowrap;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (width<=992px) {
  #navbarText>ul>li>a {
    font-family: OpenSans, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: calc(10px + 6 * (100vw / 1920));
    line-height: calc(11px + 0.135417vh);
    color: $Mercury;
    white-space: nowrap;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
  }
}

span.navbar-toggler-icon {
  @include relative;

  height: 3px;
  width: 30px;
  background-color: $Mercury;
}

span.navbar-toggler-icon::after {
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  content: '';
  height: 3px;
  width: 30px;
  background-color: $Mercury;
}

span.navbar-toggler-icon::before {
  position: absolute;
  top: -6px;
  left: 0;
  display: block;
  content: '';
  height: 3px;
  width: 30px;
  background-color: $Mercury;
}

.header-content {
  @include relative;

  display: flex;
  flex-direction: column;

}

.header-content-title h1 {
  @include relative;

  font-family: segoescript, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 48 * (100vw / 1920));
  line-height: calc(18px + 6.135417vh);
  text-transform: uppercase;
  color: $Saffron;
  text-align: right;
  padding: 5% 0 4%;
  z-index: z('content');
}

.header-content-text {
  @include relative;

  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + 14 * (100vw / 1920));
  line-height: calc(18px + 1.635417vh);
  letter-spacing: 0.01em;
  color: $Marigold-Yellowt;
  text-align: right;
  padding-bottom: 3%;
z-index: z('content');
}

.header-content-btn {
  @include relative;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: z('content');
}

.header-content-btn button {
  width: 100%;
  max-width: 280px;
  height: 45px;
  background: $Shiraz;
  box-shadow: 0 20px 50px -10px rgb(173 16 45 / 40%);
  border-radius: 50px;
  font-weight: 400;
  font-size: calc(10px + 1 * (100vw / 1920));
  line-height: calc(18px + 0.135417vh);
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  color: $Mercury;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content-paragraf p {
  @include relative;

  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: calc(12px + 10 * (100vw / 1920));
  line-height: calc(18px + 1.635417vh);
  letter-spacing: 0.01em;
  color: $Mercury;
  padding: 12% 0% 0% 45%;
  z-index: z('content');
}

img.header-poster{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1920px;
  height: 750px;
  width: 100%;
  z-index: z('poster');
}
