section.request {
  @include relative;

  padding-top: 3%;
}

.request-content {
  @include relative;

  padding-bottom: 6%;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px){
  .request-content {
      flex-direction:column;
      align-items: center;
    }
}

.request-content-images {
  width: 50%;
}

@media screen and (max-width: 768px){
  .request-content-images {
      width: 100%;
    }
}
img.request-content-poster {
  @include relative;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.request-content-forms {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px){
  .request-content-forms {
      width: 100%;
    
    }
}
.request-content-forms-title h2 {
  @include relative;

  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 10 * (100vw / 1920));
  line-height: calc(14px + 1.035417vh);
  letter-spacing: 0.01em;
  color: $Marigold-Yellowt;
  padding-bottom: 16%;
}

@media screen and (max-width: 768px){
.request-content-forms-title h2 {
 padding-top: 26%;
    padding-bottom: 6%;
  }
}
form.form-content {
  @include relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 16%;
}

label.name,
label.email,
label.message {
  @include relative;

  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + 8 * (100vw / 1920));
  line-height: calc(12px + 1.035417vh);
  letter-spacing: 0.01em;
  color: $Mercury;
  padding: 6% 0;
  border: none;
}

button.submit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $Mercury;
 padding: 1%6%;
  background: $Shiraz;
  border: 1px solid $Shiraz;
  box-shadow: 0 20px 50px -10px rgb(173 16 45 / 40%);
  border-radius: 50px;
  white-space: nowrap;
}
