section.work {
  @include relative;

  padding-top: 6%;
}

.work-title h2 {
  @include relative;

  font-family: segoescript, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(11px + 28 * (100vw / 1920));
  line-height: calc(18px + 4.135417vh);
  text-transform: uppercase;
  color: $Saffron;
  text-align: center;
  padding-bottom: 6%;
}

img.work-title-fon {
  @include relative;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 45%;
  left: 25%;
}

.work-content {
  @include relative;

}

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 3%;

}

@media (max-width: 767.98px) {
  .work {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 575.98px){
  .work {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
}

.work-item:nth-child(2n+1) {
  margin-bottom: 40px;
}

.work-item:nth-child(2n) {
  margin-top: 40px;
  flex-direction: row-reverse;
}

@media (max-width: 767.98px){
  .work-item:nth-child(2n) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575.98px){
  .work-item:nth-child(2n) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.work-item {
  @include relative;

  display: flex;
  flex-direction: row;
  width: 41%;
  min-height: 234px;
  height: 100%;
  box-shadow: 5px 5px 27px 13px rgb(0 0 0 / 99%);
  border: solid 1px black;
}

@media (max-width: 767.98px){
  .work-item {
    width: 88%;
  }
}

@media (max-width: 575.98px) {
  .work-item {
    width: 98%;
  }
}

.work-item-step-6,
.work-item-step-5,
.work-item-step-4,
.work-item-step-3,
.work-item-step-2,
.work-item-step-1 {
  @include relative;

  width: 35%;
  min-height: 234px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.work-item-step-1 {
  background-image: url("./../images/van.webp");
}

.work-item-step-2 {
  background-image: url("./../images/two.webp");
}

.work-item-step-3 {
  background-image: url("./../images/free.webp");
}

.work-item-step-4 {
  background-image: url("./../images/foo.webp");
}

.work-item-step-5 {
  background-image: url("./../images/five.webp");
}

.work-item-step-6 {
  background-image: url("./../images/six.webp");
}

.work-item-step-6 span,
.work-item-step-5 span,
.work-item-step-4 span,
.work-item-step-3 span,
.work-item-step-2 span,
.work-item-step-1 span {
  position: absolute;
  top: 70%;
  padding-left: 20%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(12px + 10 * (100vw / 1920));
  line-height: calc(18px + 1.635417vh);
  color: $Saffron;
}

.work-item-descr {
  @include relative;

  width: 65%;
  padding: 2%;
}

ul.work-title {
  @include relative;

  list-style-type: none;
}

.work-title {
  @include relative;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 10 * (100vw / 1920));
  line-height: calc(18px + 1.635417vh);
  text-transform: uppercase;
  color: $Saffron;
  text-align: center;
  padding-bottom: 1%;
}

li.work-titlelist {
  @include relative;

  font-family: OpenSans, sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: calc(8px + 8 * (100vw / 1920));
  line-height: calc(10px + 1.035417vh);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $Mercury;
  text-align: center;
  padding-bottom: 4%;
}

.work-title-paragraf p {
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: calc(8px + 8 * (100vw / 1920));
  line-height: calc(10px + 1.635417vh);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $Mercury;
}
