%svg-common {
    background: url("sprite.svg") no-repeat;
}

.arrow-left {
    @extend %svg-common;
    background-position: 0 0;
}

.arrow-left-dims {
    width: 40px;
    height: 40px;
}

.arrow-right {
    @extend %svg-common;
    background-position: 7.407407407407407% 8.064516129032258%;
}

.arrow-right-dims {
    width: 40px;
    height: 40px;
}

.facebook {
    @extend %svg-common;
    background-position: 14.625228519195613% 15.904572564612327%;
}

.facebook-dims {
    width: 33px;
    height: 33px;
}

.helo {
    @extend %svg-common;
    background-position: 23.10838445807771% 23.014256619144604%;
}

.helo-dims {
    width: 91px;
    height: 45px;
}

.instagram {
    @extend %svg-common;
    background-position: 37.29433272394881% 31.411530815109344%;
}

.instagram-dims {
    width: 33px;
    height: 33px;
}

.location {
    @extend %svg-common;
    background-position: 42.7797833935018% 37.450980392156865%;
}

.location-dims {
    width: 26px;
    height: 26px;
}

.logo {
    @extend %svg-common;
    background-position: 53.78323108384458% 49.31818181818182%;
}

.logo-dims {
    width: 91px;
    height: 96px;
}

.mail {
    @extend %svg-common;
    background-position: 63.898916967509024% 61.372549019607845%;
}

.mail-dims {
    width: 26px;
    height: 26px;
}

.phone {
    @extend %svg-common;
    background-position: 68.59205776173285% 66.47058823529412%;
}

.phone-dims {
    width: 26px;
    height: 26px;
}

.reviews-icons-1 {
    @extend %svg-common;
    background-position: 76.17260787992495% 74.48979591836735%;
}

.reviews-icons-1-dims {
    width: 47px;
    height: 46px;
}

.reviews-icons-2 {
    @extend %svg-common;
    background-position: 84.9906191369606% 83.87755102040816%;
}

.reviews-icons-2-dims {
    width: 47px;
    height: 46px;
}

.reviews-icons-3 {
    @extend %svg-common;
    background-position: 93.80863039399625% 93.26530612244898%;
}

.reviews-icons-3-dims {
    width: 47px;
    height: 46px;
}

.whatsapp {
    @extend %svg-common;
    background-position: 100% 100%;
}

.whatsapp-dims {
    width: 33px;
    height: 33px;
}

